<div class="top-level h-screen flex justify-content-center align-items-center flex-column gap-8">
    <img class="zoom-animation" src="img/logo.png" alt="logo">
    <p class="w-7 text-2xl line-height-3">
        Willkommen bei Videoflix – deinem kostenlosen Streaming-Erlebnis, das ganz aus Leidenschaft für Filme und Serien
        entstanden ist. Bitte beachte, dass Videoflix ein Hobbyprojekt ist, bei dem Qualität und Vielfalt auf
        persönlichem Engagement beruhen. Erwarte daher nicht den vollen Funktionsumfang großer Plattformen, sondern
        freue dich über eine unkomplizierte und spontane Auswahl an Unterhaltung. Tauche ein, entdecke deine
        Lieblingsinhalte und genieße die Magie des Kinos – kostenlos und in bester Laune!
    </p>
    <button (click)="navigateToAuth()" class="p-3 w-2 text-xl bg-red-600 border-none border-round cursor-pointer">Los geht's</button>
</div>

