.background-of-auth {
    background-image: url("../../../public/img/background-of-auth.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.height-47vh {
    height: 47vh;
}

.background-of-card {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 8px rgb(233 158 158 / 90%);
}

.height-60px {
    height: 60px
}

// entfernt Farbe des Labels im Inputfield
.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input:-webkit-autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(.p-inputwrapper-focus) label {
    color: inherit !important;
}
