:host {
  position: fixed;
  width: 85vw;
  height: 85vh;
  top: 7.5%;
  left: 7.5%;
  z-index: 1000;
  // background-color: #18181b;
}

.details {
  background-color: #20202a;
  box-shadow: 0 2px 8px rgb(233 158 158 / 90%);
}

.close {
  top: 25px;
  right: 25px;
}