<div class="top-level flex flex-column justify-content-center align-items-center h-full">
    <h1>{{ capitalizeTitle(title) }}</h1>
    <img (click)="closeDialog()" class="close absolute w-2rem cursor-pointer hover:transition-ease-in" src="img/close.png" alt="close">
    <video #videoPlayer controls width="1200" height="800" poster="img/play.png" (click)="onVideoClick()"></video>
  
    <div *ngIf="availableLevels.length > 0" class="quality-selector mt-2">
      <label for="quality-select">Qualität wählen:</label>
      <select #qualitySelect id="quality-select" (change)="changeQuality(qualitySelect.value)">
        <option value="-1">Auto</option>
        <option *ngFor="let level of availableLevels; index as i" [value]="i">
          {{ level.height }}p ({{ level.bitrate }} Bit/s)
        </option>
      </select>
    </div>
  </div>
  