:host {
  position: fixed;
  width: 85vw;
  height: 85vh;
  top: 7.5%;
  left: 7.5%;
  z-index: 1000;
  // background-color: #18181b;
}

.details {
  background-color: #20202a;
  border: 2px solid rgb(87, 81, 81);
}

.close {
  top: 25px;
  right: 25px;
}