<!-- recover-password-dialog.component.html -->
<div class="flex flex-column justify-content-center align-items-center h-full">
    <div
        class="dialog-content flex justify-content-center align-items-center flex-column w-5 height-55vh gap-6 border-round relative p-5 border-round-lg">
        <img (click)="closeDialog()" class="close absolute w-2rem cursor-pointer" src="img/close.png" alt="close">
        <span class="text-5xl">Profile bearbeiten</span>
        <span class="text-center">Wählen Sie Ihr Profil aus, das Sie ändern oder löschen möchten.</span>

        <p-autocomplete [(ngModel)]="selectedProfile" [dropdown]="true" [suggestions]="subProfiles"
            (completeMethod)="search($event)" readonly="true" field="name" (onSelect)="onSelectProfile($event)" />


        <span class="text-center">Schreiben Sie hier den neuen Namen für Ihr Profil rein und drücken Sie dann auf speichern.</span>
        <p-floatlabel class="w-9" variant="in">
            <input class="w-full height-60px pt-3 pl-2 pr-2" pInputText id="name-input" [(ngModel)]="name"
                autocomplete="on" [ngClass]="{'p-filled': name}" />
            <label class="w-full" for="name-input">*Name</label>
        </p-floatlabel>

        <button [disabled]="isSending" (click)="saveSubProfileChanges()"
            class="p-3 w-9 text-xl bg-red-600 border-none border-round cursor-pointer hover:bg-red-400">Speichern</button>
        <button [disabled]="isSending" (click)="deleteSubProfileChanges()"
            class="p-3 w-9 text-xl bg-red300 border-none border-round cursor-pointer hover:bg-red-400">Löschen</button>
    </div>
    <app-toast></app-toast>
</div>