<div class="top-level shadow">
    <div class="flex justify-content-between align-items-center mr-6 ml-6">
        <div class="flex justify-content-between align-items-center gap-5">
            <img class="w-10rem" src="img/logo.png" alt="logo">
        </div>

        <div class="card flex justify-center">
            <p-menu #menu [model]="items" [popup]="true" />
            <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
        </div>
    </div>
</div>


<app-change-user-data-dialog *ngIf="changeProfileDataDialogVisible"
    (close)="onClosecCangeProfileDataDialog()"></app-change-user-data-dialog>

<app-legal-notice *ngIf="legalNoticeVisible" (close)="onCloseLegalNotice()"></app-legal-notice>

<app-privacy-policy *ngIf="privacyPolicyVisible" (close)="onClosePrivacyPolicy()"></app-privacy-policy>