<div class="top-level flex justify-content-center align-items-center flex-column h-screen">
    <label class="text-6xl">Wer schaut gerade?</label>
    <div class="flex align-items-center justify-content-around w-full mt-8">
        <div (click)="navigateToHome(subProfile.id!)" *ngFor="let subProfile of subProfiles" class="flex flex-column align-items-center cursor-pointer">
            <div class="p-8 bg-blue-700 border-round"></div>
            <label class="mt-3 text-3xl">{{ subProfile.name }}</label>
        </div>
    </div>
    <div class="flex justify-content-center align-items-center w-full">
        <div (click)="openAddSubProfileDialog()" class="flex flex-column align-items-center cursor-pointer mt-8 p-5">
            <div class="p-8 bg-green-700 border-circle"></div>
            <label class="mt-3 text-3xl">Profil hinzufügen</label>
        </div>
        <div (click)="openManageSubProfileDialog()" class="flex flex-column align-items-center cursor-pointer mt-8 p-5">
            <div class="p-8 bg-yellow-400 border-circle"></div>
            <label class="mt-3 text-3xl">Profile Verwalten</label>
        </div>
    </div>
</div>


<app-add-sub-profile-dialog *ngIf="addSubProfileDialogVisible" (close)="closeAddSubProfileDialog()" (subProfileAdded)="onSubProfileAdded()"></app-add-sub-profile-dialog>
<app-manage-sub-profile-dialog *ngIf="manageSubProfileDialogVisible" (close)="closeManageSubProfileDialog()" (subProfileAdded)="onSubProfileChanged()"></app-manage-sub-profile-dialog>