@media screen and (max-width: 380px) {
    .header {
        margin-top: 80px !important;
    }

    .responsive {
        height: 100% !important;
    }
}

.box {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 15px rgb(199 224 207 / 90%);
    
    &:hover {
        transform: scale(1.05);
    }
}