<div class="top-level flex flex-column justify-content-center align-items-center h-full">
    <div
        class="dialog-content flex justify-content-center align-items-center flex-column w-4 gap-5 border-round relative p-5 border-round-lg">
        <img (click)="closeDialog()" class="close absolute w-2rem cursor-pointer" src="img/close.png" alt="close">
        <span class="text-5xl">Impressum</span>
        <span>Informationen gemäß den § 5 TMG</span>
        <span>Tristan Gehring</span>
        <span>Auf Birket 48, 54518 Niersbach</span>
        <span>+49 1525 3419747</span>
        <span>tristangehring123&#64;hotmail.de</span>
    </div>
</div>

