.backgroundimage {
    background-image: url("../../../public/img/background-of-auth.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    height: 125px;
    width: 200px;
    cursor: pointer;
}
