@import "primeicons/primeicons.css";

body {
    margin: 0;
    font-family: cursive;
    color: white;
    background-color: #20202a;
}

.top-level {
    margin: auto !important;
    max-width: 1400px !important;
}

.close {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.close:hover {
    transform: scale(1.2);
    filter: brightness(1.1);
}


.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input:-webkit-autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(.p-inputwrapper-focus) label {
  color: rgb(80, 74, 74) !important;
}