@import "primeicons/primeicons.css";

body {
    margin: 0;
    font-family: cursive;
}

.top-level {
    margin: auto !important;
    max-width: 1400px !important;
}

.close {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.close:hover {
    transform: scale(1.2);
    filter: brightness(1.1);
}


