<app-navbar></app-navbar>
<div class="top-level content">


    <div>
      <h2>Filme</h2>
      <p-carousel [value]="videoTitles" [numVisible]="4" [numScroll]="4" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-title #item>
          <div (click)="onPoster(title)" class="m-2 p-2 shadow-md rounded">
            <h3>{{ capitalizeTitle(title) }}</h3>
            <app-video-poster></app-video-poster>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div>
      <h2>Clips</h2>
      <p-carousel [value]="videoTitles" [numVisible]="4" [numScroll]="4" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-title #item>
          <div (click)="onPoster(title)" class="m-2 p-2 shadow-md rounded">
            <h3>{{ capitalizeTitle(title) }}</h3>
            <app-video-poster></app-video-poster>
          </div>
        </ng-template>
      </p-carousel>
    </div>


</div>


<app-video [title]="selectedTitle" (close)="onClosePoster()" *ngIf="isVideoVisible"></app-video>